In [93]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [94]:
airport_df = pd.read_csv( 'airport_data.csv', low_memory=False )
booking_df = pd.read_csv( 'booking_data.csv', low_memory=False )
search_df  = pd.read_csv( 'search_data.csv' , low_memory=False )

adf, bdf, sdf = airport_df, booking_df, search_df

# Search data

In [95]:
sdf.head(3)

,search_id,search_time,currency,destination,search_user_id,language,origin,partner_id,passengers,pos,session_id,user_agent,num_requests,fare,supplier,cabin_class,carrier_1,carrier_2,flight_num_1,flight_num_2,departure_datetime_1,arrival_datetime_1,departure_datetime_2,arrival_datetime_2,itinerary_id
0,02c6c2ad-325b-4155-bb03-89badc92ea84,2017-02-01 00:00:07,USD,MIA,NBYNv9utORVjlf604rUgXL/eFz6Tmu2NyygDWTFsM5OOWH...,en,LAX,294,1,US,292c32ab-9744-490f-911a-d3536e86847e,Dalvik/2.1.0 (Linux; U; Android 6.0.1; SM-G920...,1,499.00,22,economy,AA,AA,AA1088,AA1147,2017-04-07T09:50:00-07:00,2017-04-07T17:56:00-04:00,2017-04-16T21:30:00-04:00,2017-04-17T00:33:00-07:00,294f363b-86f0-4e67-abe9-05221dadb8b8
1,0280e382-d24e-4138-bb20-8d236c0bb02f,2017-02-01 00:00:32,ISK,VCE,c2ea8bd4-40ff-4b8b-a42f-ada9b02ef963,en,REK,58,1,IS,d34dd58d-aec5-4d8f-abf7-090db2e011bd,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_2...,7,25895.00,103,Economy,FI; IB,NaN,FI540; IB5120,NaN,2017-06-10T01:05:00; 2017-06-10T14:50:00,2017-06-10T06:20:00; 2017-06-10T16:40:00,NaN,NaN,d9592a05-c850-4abd-9cf1-9fe8343d556c
2,c8903983-3eb9-4f0f-8f87-64b7e5dd0692,2017-02-01 00:00:39,USD,SJD,36195bda-ec40-4907-9428-c4fe11bd87fa,en,LAX,91,1,US,e0ae1ecd-8715-4577-bca4-604cf3a58d0e,Mozilla/5.0 (Linux; Android 6.0.1; SAMSUNG-SM-...,1,286.79,91,economy,AA,AA,AA237,AA237,2017-05-30T08:35:00,2017-05-30T11:58:00,2017-06-03T13:00:00,2017-06-03T14:36:00,c53826cf-1fba-42a6-a765-941628e1901e

In [139]:
sdf.describe().astype(float)

         partner_id    passengers  num_requests          fare      supplier
count  1.277081e+06  1.277081e+06  1.277081e+06  1.277081e+06  1.277081e+06
mean   9.420257e+01  1.516125e+00  3.557597e+01  5.252624e+03  9.190741e+01
std    1.943402e+01  9.980704e-01  1.875696e+01  5.448972e+05  1.583533e+01
min    5.800000e+01  0.000000e+00  1.000000e+00  0.000000e+00  0.000000e+00
25%    9.100000e+01  1.000000e+00  4.000000e+01  2.984200e+02  9.100000e+01
50%    9.100000e+01  1.000000e+00  4.000000e+01  4.482000e+02  9.100000e+01
75%    9.100000e+01  2.000000e+00  4.000000e+01  7.057100e+02  9.100000e+01
max    2.940000e+02  1.000000e+02  3.450000e+02  3.115879e+08  3.280000e+02

In [105]:
{print(len(df)) for df in [sdf,bdf,sdf[sdf.session_id.isin(bdf.session_id)]]}

1277081
16854
17117

{None}

# booking df

In [136]:
bdf.head(4)

,booking_id,booking_time,currency,destination,booking_user_id,language,origin,partner_id,passengers,pos,session_id,user_agent,num_requests,fare,supplier,cabin_class,carrier_1,carrier_2,flight_num_1,flight_num_2,departure_datetime_1,arrival_datetime_1,departure_datetime_2,arrival_datetime_2,itinerary_id
0,7ec12305-ba84-419a-8fc0-6aaf78d9abb2,2017-02-01 00:00:46,USD,SJD,36195bda-ec40-4907-9428-c4fe11bd87fa,en,LAX,91,1,US,e0ae1ecd-8715-4577-bca4-604cf3a58d0e,Mozilla/5.0 (Linux; Android 6.0.1; SAMSUNG-SM-...,1,286.79,91,economy,AA,AA,AA237,AA237,2017-05-30T08:35:00,2017-05-30T11:58:00,2017-06-03T13:00:00,2017-06-03T14:36:00,c53826cf-1fba-42a6-a765-941628e1901e
1,5eb6e42e-bcdc-4b0a-8b3a-744b4ef1d805,2017-02-01 00:01:03,USD,LAX,025ee32b-2a0b-4987-b275-893f148ab259,en,CMH,91,1,US,262b200e-b183-48ab-b737-72c251ca0ff3,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_1...,1,192.20,91,economy,AA,NaN,AA659,NaN,2017-03-29T16:35:00,2017-03-29T18:53:00,NaN,NaN,2e3afcd8-7d56-4b49-a71b-f85c23e1b807
2,d3db456d-538d-4f98-a2a0-d6bcedf3b459,2017-02-01 00:01:04,USD,MCO,f69465d7-cdb2-4dd0-98ad-6362423a8dc3,en,EGE,91,1,US,97d78806-2f65-48af-9d21-e7f9bb6a667c,Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKi...,1,615.60,91,economy,UA; UA,UA; UA,UA4475; UA564,UA1191; UA1252,2017-02-10T07:52:00; 2017-02-10T11:00:00,2017-02-10T09:03:00; 2017-02-10T16:31:00,2017-02-13T08:47:00; 2017-02-13T11:40:00,2017-02-13T10:30:00; 2017-02-13T13:41:00,619b0f7c-825f-47b1-a191-300862feff80
3,b9133358-7e81-4aea-bce8-8c79823c4ac8,2017-02-01 00:01:12,USD,LHR,36ba8a8c-8c47-4dc6-bd70-0b3ae071c8cf,en,PHX,91,2,US,1eb74ec2-e6d7-4423-a1e3-de2a411a4aed,Mozilla/5.0 (Linux; Android 6.0.1; SAMSUNG SM-...,1,507.46,91,economy,DL; DL,DL; DL,DL5852; DL4414,DL11; DL1516,2017-05-10T13:13:00; 2017-05-10T18:30:00,2017-05-10T14:45:00; 2017-05-11T12:55:00,2017-05-28T12:55:00; 2017-05-28T17:50:00,2017-05-28T16:05:00; 2017-05-28T19:11:00,37a44686-8347-4c72-8690-c9432349f9a6

In [138]:
bdf.describe().astype(float)

         partner_id    passengers  num_requests          fare      supplier
count  16854.000000  16854.000000  16854.000000  1.685400e+04  16854.000000
mean     134.674558      1.796013      1.397888  1.901498e+03     73.475970
std       65.255783      1.168443      2.055796  2.081082e+04     38.700949
min       58.000000      0.000000      1.000000  6.000000e+00      0.000000
25%       91.000000      1.000000      1.000000  1.802500e+02     65.000000
50%       91.000000      1.000000      1.000000  3.244750e+02     91.000000
75%      151.000000      2.000000      1.000000  5.670000e+02     91.000000
max      294.000000      9.000000     39.000000  2.134170e+06    328.000000

In [115]:
dfs = [bdf, sdf]

joined = pd.concat(dfs, keys ='session_id', join='outer')
joined = joined[~pd.isnull(joined.booking_id)]\
               .sort_values(by='booking_time')


print('len joined:',len(joined))

joined

len joined: 16854

                                   booking_id         booking_time currency  \
s 0      7ec12305-ba84-419a-8fc0-6aaf78d9abb2  2017-02-01 00:00:46      USD
  1      5eb6e42e-bcdc-4b0a-8b3a-744b4ef1d805  2017-02-01 00:01:03      USD
  2      d3db456d-538d-4f98-a2a0-d6bcedf3b459  2017-02-01 00:01:04      USD
  3      b9133358-7e81-4aea-bce8-8c79823c4ac8  2017-02-01 00:01:12      USD
  4      4699db09-65c2-492f-9aa6-c9e7734a60c1  2017-02-01 00:01:25      USD
...                                       ...                  ...      ...
  16849  0607ee5d-006d-47d0-8b51-6702c1eaad7a  2017-02-23 23:27:21      AED
  16850  a4daa9d6-e193-438c-b84f-663bce01e1fb  2017-02-23 23:27:23      USD
  16851  252a1f66-3637-48ac-9cde-7629e67d8904  2017-02-23 23:27:27      USD
  16852  8c944a5d-56cb-4734-847f-db7ca7190748  2017-02-23 23:27:35      USD
  16853  de30b056-0204-4ceb-a7e2-2293ec14f053  2017-02-23 23:27:44      USD

        destination                                    booking_user_id  \
s 0             SJD               36195bda-ec40-4907-9428-c4fe11bd87fa
  1             LAX               025ee32b-2a0b-4987-b275-893f148ab259
  2             MCO               f69465d7-cdb2-4dd0-98ad-6362423a8dc3
  3             LHR               36ba8a8c-8c47-4dc6-bd70-0b3ae071c8cf
  4             LHR               b1a66917-ca3e-457e-8bb2-79b6cd86ca7c
...             ...                                                ...
  16849         CAI  oRfK6DkoMdgPeM4n818p9pUbNnIL3QlMXI11aVq2R3nXqJ...
  16850         DCA               b04eeee9-cba9-4c40-964c-d2ab845b8bc6
  16851         JFK               e5fed596-c0a0-4106-ac8a-292f9a1af0d7
  16852         GRI               9987f07e-9842-46ff-ac43-0382ea676c76
  16853         MID               6d57ab2b-6c1b-4788-a6fb-ffe37c402325

        language origin  partner_id  passengers pos  \
s 0           en    LAX          91           1  US
  1           en    CMH          91           1  US
  2           en    EGE          91           1  US
  3           en    PHX          91           2  US
  4           en    SFO          91           1  US
...          ...    ...         ...         ...  ..
  16849       ar    MXP         294           1  AE
  16850       en    JFK          91           1  US
  16851       en    SFO          91           1  US
  16852       en    ORL          91           2  US
  16853       en    PHX          91           1  US

                                   session_id  \
s 0      e0ae1ecd-8715-4577-bca4-604cf3a58d0e
  1      262b200e-b183-48ab-b737-72c251ca0ff3
  2      97d78806-2f65-48af-9d21-e7f9bb6a667c
  3      1eb74ec2-e6d7-4423-a1e3-de2a411a4aed
  4      4651b45f-2325-48e2-b55e-e4fd60994d6f
...                                       ...
  16849  674f1cd3-fb87-428d-8b4e-56f1470c254b
  16850  b9ebabc5-7f06-4b37-b11b-8aff7418d168
  16851  04d7f53f-b6f7-4df7-8daf-a5ec0dc5f89b
  16852  8019f0cf-6082-46e8-9ad4-c504fe6b56c9
  16853  a4949501-4859-49b7-8706-171537114f0e

                                                user_agent  num_requests  \
s 0      Mozilla/5.0 (Linux; Android 6.0.1; SAMSUNG-SM-...             1
  1      Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_1...             1
  2      Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKi...             1
  3      Mozilla/5.0 (Linux; Android 6.0.1; SAMSUNG SM-...             1
  4      Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_2...             1
...                                                    ...           ...
  16849  Dalvik/2.1.0 (Linux; U; Android 6.0.1; SM-G920...             1
  16850  Mozilla/5.0 (Windows NT 10.0; WOW64; Trident/7...             1
  16851  Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_2...             1
  16852  Mozilla/5.0 (Linux; Android 6.0.1; SAMSUNG-SM-...             1
  16853  Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...             1

            fare  supplier cabin_class   carrier_1   carrier_2  \
s 0       286.79        91     economy          AA          AA
  1       192.20        91     economy          AA         NaN
  2       615.60        91     economy      UA; UA      UA; UA
  3       507.46        91     economy      DL; DL      DL; DL
  4       888.86        91     economy  TP; TP; TP  TP; TP; TP
...          ...       ...         ...         ...         ...
  16849  1175.00        22     economy          MS          MS
  16850   101.20        91     economy          DL         NaN
  16851   279.00        91     economy          VX      SY; SY
  16852   380.40        91     economy      AA; AA      AA; AA
  16853   479.97        91     economy      UA; UA         NaN

                 flight_num_1          flight_num_2  \
s 0                     AA237                 AA237
  1                     AA659                   NaN
  2             UA4475; UA564        UA1191; UA1252
  3            DL5852; DL4414          DL11; DL1516
  4      TP8052; TP218; TP352  TP353; TP209; TP8051
...                       ...                   ...
  16849                 MS704                 MS703
  16850                DL4167                   NaN
  16851                  VX12          SY244; SY395
  16852        AA2625; AA5833        AA5833; AA1055
  16853         UA978; UA1426                   NaN

                                      departure_datetime_1  \
s 0                                    2017-05-30T08:35:00
  1                                    2017-03-29T16:35:00
  2               2017-02-10T07:52:00; 2017-02-10T11:00:00
  3               2017-05-10T13:13:00; 2017-05-10T18:30:00
  4      2017-03-06T08:00:00; 2017-03-06T20:00:00; 2017...
...                                                    ...
  16849                          2017-03-14T13:35:00+01:00
  16850                                2017-03-03T19:25:00
  16851                                2017-03-15T07:05:00
  16852           2017-05-19T09:20:00; 2017-05-19T14:56:00
  16853           2017-04-16T05:00:00; 2017-04-16T17:50:00

                                        arrival_datetime_1  \
s 0                                    2017-05-30T11:58:00
  1                                    2017-03-29T18:53:00
  2               2017-02-10T09:03:00; 2017-02-10T16:31:00
  3               2017-05-10T14:45:00; 2017-05-11T12:55:00
  4      2017-03-06T16:35:00; 2017-03-07T07:15:00; 2017...
...                                                    ...
  16849                          2017-03-14T18:15:00+02:00
  16850                                2017-03-03T21:03:00
  16851                                2017-03-15T15:35:00
  16852           2017-05-19T11:22:00; 2017-05-19T16:38:00
  16853           2017-04-16T09:31:00; 2017-04-16T19:54:00

                                      departure_datetime_2  \
s 0                                    2017-06-03T13:00:00
  1                                                    NaN
  2               2017-02-13T08:47:00; 2017-02-13T11:40:00
  3               2017-05-28T12:55:00; 2017-05-28T17:50:00
  4      2017-03-09T06:00:00; 2017-03-09T16:50:00; 2017...
...                                                    ...
  16849                          2017-04-04T09:35:00+02:00
  16850                                                NaN
  16851           2017-03-22T11:30:00; 2017-03-22T14:40:00
  16852           2017-05-22T17:16:00; 2017-05-22T20:20:00
  16853                                                NaN

                                        arrival_datetime_2  \
s 0                                    2017-06-03T14:36:00
  1                                                    NaN
  2               2017-02-13T10:30:00; 2017-02-13T13:41:00
  3               2017-05-28T16:05:00; 2017-05-28T19:11:00
  4      2017-03-09T08:35:00; 2017-03-09T20:15:00; 2017...
...                                                    ...
  16849                          2017-04-04T13:30:00+02:00
  16850                                                NaN
  16851           2017-03-22T13:37:00; 2017-03-22T16:49:00
  16852           2017-05-22T19:05:00; 2017-05-22T23:54:00
  16853                                                NaN

                                 itinerary_id search_id search_time  \
s 0      c53826cf-1fba-42a6-a765-941628e1901e       NaN         NaN
  1      2e3afcd8-7d56-4b49-a71b-f85c23e1b807       NaN         NaN
  2      619b0f7c-825f-47b1-a191-300862feff80       NaN         NaN
  3      37a44686-8347-4c72-8690-c9432349f9a6       NaN         NaN
  4      b84a4eca-fd5f-4794-afaa-e1d0e7231537       NaN         NaN
...                                       ...       ...         ...
  16849  31e1152b-b78c-45b0-b9df-9ad2457cd6be       NaN         NaN
  16850  1d44c6f0-240c-4b7e-ac90-a15eae61484f       NaN         NaN
  16851  08ebdf48-73db-4ea0-9f55-118f049646dd       NaN         NaN
  16852  4bf8221b-1804-4d19-a9bf-36ba0ab0b44e       NaN         NaN
  16853  4f40fa8a-aba6-44b2-97b3-1996a67e84c2       NaN         NaN

        search_user_id
s 0                NaN
  1                NaN
  2                NaN
  3                NaN
  4                NaN
...                ...
  16849            NaN
  16850            NaN
  16851            NaN
  16852            NaN
  16853            NaN

[16854 rows x 28 columns]

In [119]:
s_cols = [   'booking_id', 
          'session_id',
          'destination',
         #    'language',
             'origin',
        #     'partner_id',
             'passengers',
       #      'pos',
             'session_id',
             'user_agent',
             'fare',
       #      'supplier',
             'cabin_class',
             'carrier_1',
             'carrier_2',
         'arrival_datetime_1',
         'arrival_datetime_2']

In [133]:
dd = joined[s_cols]

dd['Yfare'] = dd['fare'].to_numpy()/dd['passengers'].to_numpy()

dd = dd[(dd.carrier_1 == dd.carrier_2) ].copy()


Xcol = ['booking_id', 
        'session_id', 
        'destination', 
        'origin', 
        'passengers',
       'session_id', 
        'user_agent', 
        #'fare', 
        'cabin_class', 
        'carrier_1',
       'carrier_2', 
        'arrival_datetime_1', 
        'arrival_datetime_2']

        # 'Yfare']
    
Ycol='Yfare'

Xdf = dd[Xcol]
Ydf = dd[Ycol]


assert len(Xdf) == len(Ydf)
print(len(Xdf),len(Ydf))
Xdf.head(4)

9920 9920

<ipython-input-133-563b6494f56b>:3: RuntimeWarning: divide by zero encountered in true_divide
  dd['Yfare'] = dd['fare'].to_numpy()/dd['passengers'].to_numpy()
<ipython-input-133-563b6494f56b>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dd['Yfare'] = dd['fare'].to_numpy()/dd['passengers'].to_numpy()

                               booking_id  \
s 0  7ec12305-ba84-419a-8fc0-6aaf78d9abb2
  2  d3db456d-538d-4f98-a2a0-d6bcedf3b459
  3  b9133358-7e81-4aea-bce8-8c79823c4ac8
  4  4699db09-65c2-492f-9aa6-c9e7734a60c1

                               session_id  \
s 0  e0ae1ecd-8715-4577-bca4-604cf3a58d0e
  2  97d78806-2f65-48af-9d21-e7f9bb6a667c
  3  1eb74ec2-e6d7-4423-a1e3-de2a411a4aed
  4  4651b45f-2325-48e2-b55e-e4fd60994d6f

                               session_id destination origin  passengers  \
s 0  e0ae1ecd-8715-4577-bca4-604cf3a58d0e         SJD    LAX           1
  2  97d78806-2f65-48af-9d21-e7f9bb6a667c         MCO    EGE           1
  3  1eb74ec2-e6d7-4423-a1e3-de2a411a4aed         LHR    PHX           2
  4  4651b45f-2325-48e2-b55e-e4fd60994d6f         LHR    SFO           1

                               session_id  \
s 0  e0ae1ecd-8715-4577-bca4-604cf3a58d0e
  2  97d78806-2f65-48af-9d21-e7f9bb6a667c
  3  1eb74ec2-e6d7-4423-a1e3-de2a411a4aed
  4  4651b45f-2325-48e2-b55e-e4fd60994d6f

                               session_id  \
s 0  e0ae1ecd-8715-4577-bca4-604cf3a58d0e
  2  97d78806-2f65-48af-9d21-e7f9bb6a667c
  3  1eb74ec2-e6d7-4423-a1e3-de2a411a4aed
  4  4651b45f-2325-48e2-b55e-e4fd60994d6f

                                            user_agent cabin_class  \
s 0  Mozilla/5.0 (Linux; Android 6.0.1; SAMSUNG-SM-...     economy
  2  Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKi...     economy
  3  Mozilla/5.0 (Linux; Android 6.0.1; SAMSUNG SM-...     economy
  4  Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_2...     economy

      carrier_1   carrier_2  \
s 0          AA          AA
  2      UA; UA      UA; UA
  3      DL; DL      DL; DL
  4  TP; TP; TP  TP; TP; TP

                                    arrival_datetime_1  \
s 0                                2017-05-30T11:58:00
  2           2017-02-10T09:03:00; 2017-02-10T16:31:00
  3           2017-05-10T14:45:00; 2017-05-11T12:55:00
  4  2017-03-06T16:35:00; 2017-03-07T07:15:00; 2017...

                                    arrival_datetime_2
s 0                                2017-06-03T14:36:00
  2           2017-02-13T10:30:00; 2017-02-13T13:41:00
  3           2017-05-28T16:05:00; 2017-05-28T19:11:00
  4  2017-03-09T08:35:00; 2017-03-09T20:15:00; 2017...

In [129]:
Ydf.head(4)

s  0    286.79
   2    615.60
   3    253.73
   4    888.86
Name: Yfare, dtype: float64

In [98]:
sdd.cabin_class.value_counts()

economy            430439
Economy             16748
mixed                3911
business             1303
first                1037
premium_economy       868
Business               92
premiumEconomy         25
Premium Economy        21
First                  17
COACH                   6
ECONOMY                 3
First Class             1
Name: cabin_class, dtype: int64

In [99]:
def clean_class(val):
    return val.split(' ')[0].replace('_','').replace('mEconomy','m').replace('premiumeconomy', 'premium').lower()

sdd['cleanclass'] = [ clean_class(x) for x in sdd['cabin_class'] ]
sdd.cleanclass.value_counts()

economy     447190
mixed         3911
business      1395
first         1055
premium        914
coach            6
Name: cleanclass, dtype: int64

In [100]:
sdd = sdd[~sdd.cleanclass.isin(['coach','mixed'])]
sdd.cleanclass.value_counts()

economy     447190
business      1395
first         1055
premium        914
Name: cleanclass, dtype: int64

In [101]:
sdd.user_agent.value_counts()[:50]

Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.87 Safari/537.36                                                                                   37349
Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.87 Safari/537.36                                                                                    31719
Mozilla/5.0 AppleWebKit/537.36 (KHTML, like Gecko; compatible; Googlebot/2.1; +http://www.google.com/bot.html) Safari/537.36                                                                    28623
Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.87 Safari/537.36                                                                              21987
Mozilla/5.0 (iPhone; CPU iPhone OS 10_2_1 like Mac OS X) AppleWebKit/602.4.6 (KHTML, like Gecko) Version/10.0 Mobile/14D27 Safari/602.1                                                         21103
Mozilla/5.0 (Windows NT 10.0; WOW64; rv:51.0) Gecko/20100101 Firefox/51.0                                                                                                                       13130
Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/51.0.2704.79 Safari/537.36 Edge/14.14393                                                                12980
Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.87 Safari/537.36                                                                               10558
Mozilla/5.0 (Windows NT 6.1; WOW64; rv:51.0) Gecko/20100101 Firefox/51.0                                                                                                                         9213
Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3) AppleWebKit/602.4.8 (KHTML, like Gecko) Version/10.0.3 Safari/602.4.8                                                                            8086
Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.87 Safari/537.36                                                                                     7009
Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.87 Safari/537.36                                                                         6547
Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.87 Safari/537.36                                                                         6478
Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.87 Safari/537.36                                                                                            6471
Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/55.0.2883.87 Safari/537.36                                                                                    5511
Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.87 Safari/537.36                                                                         5318
Mozilla/5.0 (iPhone; CPU iPhone OS 10_2 like Mac OS X) AppleWebKit/602.3.12 (KHTML, like Gecko) Version/10.0 Mobile/14C92 Safari/602.1                                                           5251
Mozilla/5.0 (iPad; CPU OS 10_2_1 like Mac OS X) AppleWebKit/602.4.6 (KHTML, like Gecko) Version/10.0 Mobile/14D27 Safari/602.1                                                                   5067
Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/55.0.2883.87 Safari/537.36                                                                                     4881
Mozilla/5.0 (Windows NT 6.1; WOW64; Trident/7.0; SLCC2; .NET CLR 2.0.50727; .NET CLR 3.5.30729; .NET CLR 3.0.30729; Media Center PC 6.0; .NET4.0C; .NET4.0E; rv:11.0) like Gecko                 4215
Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_5) AppleWebKit/602.4.8 (KHTML, like Gecko) Version/10.0.3 Safari/602.4.8                                                                            3327
Mozilla/5.0 (Windows NT 6.1; WOW64; Trident/7.0; SLCC2; .NET CLR 2.0.50727; .NET CLR 3.5.30729; .NET CLR 3.0.30729; Media Center PC 6.0; .NET4.0C; .NET4.0E; InfoPath.3; rv:11.0) like Gecko     3085
Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/55.0.2883.87 Safari/537.36                                                                               2642
Mozilla/5.0 (Windows NT 10.0; WOW64; Trident/7.0; .NET4.0C; .NET4.0E; .NET CLR 2.0.50727; .NET CLR 3.0.30729; .NET CLR 3.5.30729; rv:11.0) like Gecko                                            2583
Mozilla/5.0 (iPhone; CPU iPhone OS 10_1_1 like Mac OS X) AppleWebKit/602.2.14 (KHTML, like Gecko) Version/10.0 Mobile/14B100 Safari/602.1                                                        2473
Mozilla/5.0 (iPad; CPU OS 9_3_5 like Mac OS X) AppleWebKit/601.1.46 (KHTML, like Gecko) Version/9.0 Mobile/13G36 Safari/601.1                                                                    2463
Mozilla/5.0 (Windows NT 6.3; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.87 Safari/537.36                                                                                2326
Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_2) AppleWebKit/602.3.12 (KHTML, like Gecko) Version/10.0.2 Safari/602.3.12                                                                          2294
Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_5) AppleWebKit/601.7.8 (KHTML, like Gecko) Version/9.1.3 Safari/537.86.7                                                                             2285
Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6) AppleWebKit/602.4.8 (KHTML, like Gecko) Version/10.0.3 Safari/602.4.8                                                                            2284
Mozilla/5.0 (Windows NT 6.3; WOW64; rv:51.0) Gecko/20100101 Firefox/51.0                                                                                                                         2212
Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/55.0.2883.95 Safari/537.36                                                                         1962
Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/55.0.2883.95 Safari/537.36                                                                         1860
Mozilla/5.0 (Macintosh; Intel Mac OS X 10.12; rv:51.0) Gecko/20100101 Firefox/51.0                                                                                                               1834
Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.87 Safari/537.36                                                                          1797
Mozilla/5.0 (Macintosh; Intel Mac OS X 10.11; rv:51.0) Gecko/20100101 Firefox/51.0                                                                                                               1710
Mozilla/5.0 (iPhone; CPU iPhone OS 10_0_2 like Mac OS X) AppleWebKit/602.1.50 (KHTML, like Gecko) Version/10.0 Mobile/14A456 Safari/602.1                                                        1597
Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6) AppleWebKit/601.7.7 (KHTML, like Gecko) Version/9.1.2 Safari/601.7.7                                                                             1594
Mozilla/5.0 (Windows NT 6.0) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/49.0.2623.112 Safari/537.36                                                                                           1581
Mozilla/5.0 (Windows NT 5.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/49.0.2623.112 Safari/537.36                                                                                           1507
Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_2) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.87 Safari/537.36                                                                         1503
Mozilla/5.0 (Windows NT 10.0) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.87 Safari/537.36                                                                                           1486
Mozilla/5.0 (iPad; CPU OS 10_2 like Mac OS X) AppleWebKit/602.3.12 (KHTML, like Gecko) Version/10.0 Mobile/14C92 Safari/602.1                                                                    1436
Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/55.0.2883.87 Safari/537.36                                                                                1425
Mozilla/5.0 (Windows NT 6.1; rv:51.0) Gecko/20100101 Firefox/51.0                                                                                                                                1413
Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6) AppleWebKit/602.3.12 (KHTML, like Gecko) Version/10.0.2 Safari/602.3.12                                                                          1311
Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_5) AppleWebKit/602.3.12 (KHTML, like Gecko) Version/10.0.2 Safari/602.3.12                                                                          1308
Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/55.0.2883.87 Safari/537.36                                                                                     1267
Mozilla/5.0 (Macintosh; Intel Mac OS X 10.10; rv:51.0) Gecko/20100101 Firefox/51.0                                                                                                               1180
Mozilla/5.0 (X11; CrOS x86_64 9000.82.0) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.87 Safari/537.36                                                                                1163
Name: user_agent, dtype: int64

In [62]:
dfs = [bdf, sdf]

joined = pd.concat(dfs, keys ='session_id')

joined = joined.sort_values(by='booking_time')

In [19]:
sdf[sdf.session_id.isin(bdf.session_id)]

,search_id,search_time,currency,destination,search_user_id,language,origin,partner_id,passengers,pos,...,cabin_class,carrier_1,carrier_2,flight_num_1,flight_num_2,departure_datetime_1,arrival_datetime_1,departure_datetime_2,arrival_datetime_2,itinerary_id
2,c8903983-3eb9-4f0f-8f87-64b7e5dd0692,2017-02-01 00:00:39,USD,SJD,36195bda-ec40-4907-9428-c4fe11bd87fa,en,LAX,91,1,US,...,economy,AA,AA,AA237,AA237,2017-05-30T08:35:00,2017-05-30T11:58:00,2017-06-03T13:00:00,2017-06-03T14:36:00,c53826cf-1fba-42a6-a765-941628e1901e
3,b1d666c8-d570-47ec-bc46-26ee5332620f,2017-02-01 00:00:48,USD,LHR,36ba8a8c-8c47-4dc6-bd70-0b3ae071c8cf,en,PHX,91,2,US,...,economy,DL; DL,DL; DL,DL5852; DL4414,DL11; DL1516,2017-05-10T13:13:00; 2017-05-10T18:30:00,2017-05-10T14:45:00; 2017-05-11T12:55:00,2017-05-28T12:55:00; 2017-05-28T17:50:00,2017-05-28T16:05:00; 2017-05-28T19:11:00,37a44686-8347-4c72-8690-c9432349f9a6
5,0abbfe4c-b72d-42c7-ae8a-966643e14600,2017-02-01 00:00:54,USD,LAX,025ee32b-2a0b-4987-b275-893f148ab259,en,CMH,91,1,US,...,economy,AA,NaN,AA659,NaN,2017-03-29T16:35:00,2017-03-29T18:53:00,NaN,NaN,2e3afcd8-7d56-4b49-a71b-f85c23e1b807
6,198f2d0f-4f30-418c-bf78-ccf776a63501,2017-02-01 00:01:02,USD,MCO,f69465d7-cdb2-4dd0-98ad-6362423a8dc3,en,EGE,91,1,US,...,economy,UA; UA,UA; UA,UA4475; UA564,UA1191; UA1252,2017-02-10T07:52:00; 2017-02-10T11:00:00,2017-02-10T09:03:00; 2017-02-10T16:31:00,2017-02-13T08:47:00; 2017-02-13T11:40:00,2017-02-13T10:30:00; 2017-02-13T13:41:00,619b0f7c-825f-47b1-a191-300862feff80
8,bf0709c2-5775-48aa-952b-35f88430c431,2017-02-01 00:01:11,USD,PBI,7864485d-5c63-45ee-9e4d-a3c43e078b36,en,FLO,91,3,US,...,economy,AA; AA,AA; AA,AA4933; AA1846,AA539; AA4860,2017-05-26T05:25:00; 2017-05-26T07:40:00,2017-05-26T06:16:00; 2017-05-26T09:31:00,2017-05-28T08:25:00; 2017-05-28T13:00:00,2017-05-28T10:18:00; 2017-05-28T13:50:00,ead1e4c6-6d82-4aed-9d65-94e4b4d67ab0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1275806,18c67fe4-eba4-4de0-9561-48805ba3f1a5,2017-02-23 23:24:13,USD,KOA,b4a9623b-1d1c-4876-9631-64f995e780de,en,LAX,91,5,US,...,economy,AA,AA,AA59,AA58,2017-07-21T10:50:00,2017-07-21T13:38:00,2017-08-05T15:07:00,2017-08-05T23:17:00,0de64900-7999-4564-bad9-64a0d7dc3db9
1275873,608f4366-d530-4d17-a45d-2a5a53bd93b9,2017-02-23 23:24:31,GBP,BCN,94b52a09030779f80911944188c65fb517b0af161f8d88...,en_UK,MAN,221,4,GB,...,Economy,FR,FR,FR7542,FR7545,2017-04-03T06:25:00,2017-04-03T09:45:00,2017-04-09T22:05:00,2017-04-09T23:45:00,c7acf53a-0648-4f70-9946-a5b9d8fca4de
1276118,dae94b65-f12c-4540-b4b7-08f52e38d3f4,2017-02-23 23:25:23,USD,HYD,4d309822-a272-494a-8691-4e0a8e76036d,en,SFO,91,1,US,...,economy,CX; CX,CX; CX,CX879; CX649,CX646; CX892,2017-06-17T13:30:00; 2017-06-18T21:15:00,2017-06-18T18:55:00; 2017-06-19T00:30:00,2017-08-19T01:50:00; 2017-08-19T18:45:00,2017-08-19T09:40:00; 2017-08-19T16:25:00,8e04e4a5-3ef5-4706-906e-dcc693b368a5
1276322,d8268516-6df7-448e-b881-f20b9f5c8c0d,2017-02-23 23:26:18,USD,MID,6d57ab2b-6c1b-4788-a6fb-ffe37c402325,en,PHX,91,1,US,...,economy,UA; UA,NaN,UA978; UA1426,NaN,2017-04-16T05:00:00; 2017-04-16T17:50:00,2017-04-16T09:31:00; 2017-04-16T19:54:00,NaN,NaN,4f40fa8a-aba6-44b2-97b3-1996a67e84c2
1276468,1fccad02-4c06-4808-94ae-9064a7a48f11,2017-02-23 23:26:44,USD,JFK,e5fed596-c0a0-4106-ac8a-292f9a1af0d7,en,SFO,91,1,US,...,economy,VX,SY; SY,VX12,SY244; SY395,2017-03-15T07:05:00,2017-03-15T15:35:00,2017-03-22T11:30:00; 2017-03-22T14:40:00,2017-03-22T13:37:00; 2017-03-22T16:49:00,08ebdf48-73db-4ea0-9f55-118f049646dd

In [28]:
y = joined['fare']

x = joined[[_ for _ in joined.columns if _ != 'fare']]

In [26]:
sdf.head()

,search_id,search_time,currency,destination,search_user_id,language,origin,partner_id,passengers,pos,...,cabin_class,carrier_1,carrier_2,flight_num_1,flight_num_2,departure_datetime_1,arrival_datetime_1,departure_datetime_2,arrival_datetime_2,itinerary_id
0,02c6c2ad-325b-4155-bb03-89badc92ea84,2017-02-01 00:00:07,USD,MIA,NBYNv9utORVjlf604rUgXL/eFz6Tmu2NyygDWTFsM5OOWH...,en,LAX,294,1,US,...,economy,AA,AA,AA1088,AA1147,2017-04-07T09:50:00-07:00,2017-04-07T17:56:00-04:00,2017-04-16T21:30:00-04:00,2017-04-17T00:33:00-07:00,294f363b-86f0-4e67-abe9-05221dadb8b8
1,0280e382-d24e-4138-bb20-8d236c0bb02f,2017-02-01 00:00:32,ISK,VCE,c2ea8bd4-40ff-4b8b-a42f-ada9b02ef963,en,REK,58,1,IS,...,Economy,FI; IB,NaN,FI540; IB5120,NaN,2017-06-10T01:05:00; 2017-06-10T14:50:00,2017-06-10T06:20:00; 2017-06-10T16:40:00,NaN,NaN,d9592a05-c850-4abd-9cf1-9fe8343d556c
2,c8903983-3eb9-4f0f-8f87-64b7e5dd0692,2017-02-01 00:00:39,USD,SJD,36195bda-ec40-4907-9428-c4fe11bd87fa,en,LAX,91,1,US,...,economy,AA,AA,AA237,AA237,2017-05-30T08:35:00,2017-05-30T11:58:00,2017-06-03T13:00:00,2017-06-03T14:36:00,c53826cf-1fba-42a6-a765-941628e1901e
3,b1d666c8-d570-47ec-bc46-26ee5332620f,2017-02-01 00:00:48,USD,LHR,36ba8a8c-8c47-4dc6-bd70-0b3ae071c8cf,en,PHX,91,2,US,...,economy,DL; DL,DL; DL,DL5852; DL4414,DL11; DL1516,2017-05-10T13:13:00; 2017-05-10T18:30:00,2017-05-10T14:45:00; 2017-05-11T12:55:00,2017-05-28T12:55:00; 2017-05-28T17:50:00,2017-05-28T16:05:00; 2017-05-28T19:11:00,37a44686-8347-4c72-8690-c9432349f9a6
4,020521d7-ea85-49dd-97e2-1ae662f432a9,2017-02-01 00:00:48,ISK,BFS,cc24b343-7e53-48b4-9bdb-092a49381665,is,REK,58,2,IS,...,Economy,FI; FR,FR; U2,FI470; FR1274,FR1138; U28507,2017-04-12T07:35:00; 2017-04-12T18:10:00,2017-04-12T11:35:00; 2017-04-12T19:35:00,2017-04-19T20:00:00; 2017-04-20T06:30:00,2017-04-19T21:20:00; 2017-04-20T08:45:00,52248983-0449-411f-9794-88c7bc098faa